line-length = 100
target-version = "py{{python_version | replace('.', '')}}"
extend-exclude = ["venv", ".venv", "__pycache__"]

[lint]
select = ["E", "F", "I", "UP", "B", "RUF", "SIM"]
ignore = ["E501"]

[lint.isort]
known-first-party = ["{{project_import_name}}"]

[format]
quote-style = "double"
indent-style = "space"
